<div class="background">
  <div class="references">
    <h3>Need a teamplayer? Here what my colleagues said about me</h3>
      <div class="references__board">
        @if (references && references.length > 0){
          @for (item of references; track item.id) {
            <div class="references__inhalt">
              <p class="references__inhalt__name">{{item.properties.personName}}</p>
              <p class="references__inhalt__project">Project: {{item.properties.projectName}}</p>
              <span class="references__inhalt__description">{{item.properties.description}}</span>
              <a href={{item.properties.linkedProfile}}>Linked In Profile</a>
            </div>
          }
        } @else {
          <h4>Nothing found</h4>
          }
      </div>
  </div>
</div>
