@use '../../../styles.scss';

.references{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px clamp(1.25rem, 8vw, 6.81rem);
  h3{
    width: 100%;
    height: auto;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: styles.$primary-color;
    margin-bottom: 56px;
  }
  &__board{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: calc(100% + 2 * clamp(1.25rem, 8vw, 6.81rem));
    gap: 16px;
  }
  &__inhalt{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: clamp(290px, 30vw, 400px);
    aspect-ratio: 1;
    gap: 16px;
    background-image: url("/img/projects/references/Default.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease-in-out;
    &:hover{
      background-image: url("/img/projects/references/Hover.png");
    }
    a{
      width: 100%;
      text-align: center;
      height: 22px;
      flex: none;
      order: 2;
      flex-grow: 0;
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      text-decoration-line: underline;
      color: styles.$primary-color;
    }
    &__name{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 1.2;
      text-align: center;
      color: styles.$secondary-color;
    }
    &__project{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      color: styles.$secondary-color;
    }
    &__description{
      width: 80%;
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      text-align: center;
      color: styles.$secondary-color;
    }
  }
}

@media screen and (max-width:966px) {

  .references{
    &__board{
      justify-content: flex-start;
      overflow-y: scroll;
      padding-left: clamp(1.25rem, 8vw, 6.81rem);
    }
  }
}
