<div class="background">
  <div id="my-skills-section" class="my-skills-section scroll-section">
      <h2>My Skills</h2>
      <div class="my-skills-section__inhalt">
        <div class="my-skills-section__inhalt__grid">
        @if (isMobile) {
          @for (item of iconMobile; track item[1]) {
            <img [src]="item[0]" [alt]="item[1]">
          }
        } @else {
          @for (item of iconDesktop; track item[1]) {
            <img [src]="item[0]" [alt]="item[1]">
          }
        }
        </div>
        <div class="my-skills-section__inhalt__learning">
          <span class="my-skills-section__inhalt__learning--font-color">
          @if (isMobile) {
            What I am currently learning
          } @else {
            I am currently learning
          }
          </span>
          <div class="my-skills-section__inhalt__learning--icons">
            @for (item of currentlyLearning; track item) {
              <img src={{item[0]}} alt={{item[1]}}>
          }
          </div>
          <span>
            Mastering React and Vue to build innovative, user-centric web experiences while staying at the forefront of modern technology.
          </span>
        </div>
      </div>
      <button (click)="scrollToSection('contact-me-section','contact-me-btn')">Let’s talk</button>
  </div>
</div>
