<div class="background">
  <div id="my-skills-section" class="my-skills-section scroll-section">
      <h2>{{translate.title}}</h2>
      <div class="my-skills-section__inhalt">
        <div class="my-skills-section__inhalt__grid">
        @if (isMobile) {
          @for (item of iconMobile; track item[1]) {
            <img [src]="item[0]" [alt]="item[1]">
          }
        } @else {
          @for (item of iconDesktop; track item[1]) {
            <img [src]="item[0]" [alt]="item[1]">
          }
        }
        </div>
        <div class="my-skills-section__inhalt__learning">
          <span class="my-skills-section__inhalt__learning--font-color">
          @if (isMobile) {
            {{translate.learningMob}}
          } @else {
            {{translate.learnig}}
          }
          </span>
          <div class="my-skills-section__inhalt__learning--icons">
            @for (item of currentlyLearning; track item) {
              <img src={{item[0]}} alt={{item[1]}}>
          }
          </div>
          <span>
            {{translate.description}}
          </span>
        </div>
      </div>
      <button (click)="navService.scrollToSection('contact-me-section','contact-me-btn')">{{translate.btn}}</button>
  </div>
</div>
