<div class="background">
  <div id="contact-me-section" class="contact-me-section scroll-section">
    <h3>Contact me </h3>
    <button class="contact-me-section__arowwup" (click)="navService.scrollToSection('hero-section', '')">
      <img src="./assets/img/arrow/arrow-up.png" alt="Arrow up">
    </button>
    <div class="contact-me-section__inhalt">
      <div class="contact-me-section__inhalt__text">
        <p>Ready to bring your ideas to life? I’m interested in web development roles where I can apply my skills in structured, high-quality coding to help your projects succeed and grow in a fast-paced environment. Feel free to get in touch with job offers or collaboration opportunities!</p>
      </div>
      <div class="contact-me-section__inhalt__icon">
        <a href="mailto:arturgroblicki@gmail.com" (click)="handleEmailClick()">
          <div class="contact-item"
            (mouseenter)="emailStatus = 'hover'"
            (mouseleave)="emailStatus = 'default'"
            >
              <div class="email-icon" [class]="emailStatus"></div>
              <p>arturgroblicki@gmail.com</p>
          </div>
        </a>
        <a href="tel:+4915256470143" target="_blank">
          <div class="contact-item"
            (mouseenter)="telStatus = 'hover'"
            (mouseleave)="telStatus = 'default'">
            <div class="tel-icon" [class]="telStatus"></div>
            <p [class.active]="telStatus !== 'default'">0152 564 701 43</p>
          </div>
        </a>
      </div>
    </div>
    <app-contact-form class="background"/>
  </div>
</div>
