@use '../../../styles.scss';
.background{
  width: 100%;
  height: auto;
  background-color: styles.$secondary-dark-grey;
}

.contact-me-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 109px;
}
