.social-btn{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: var(--flex-direction,column);
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .btn{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    &__github {
      background-image: var(--githubDef,url("../../../../public/assets/img/social-media-buttons/github/GIT-default.png"));
      &:hover{
        background-image: var(--githubHov,url("../../../../public/assets/img/social-media-buttons/github/GIT-hover-blue.png"));
      }
    }
    &__linkedin {
      background-image: var(--linkedinbDef,url("../../../../public/assets/img/social-media-buttons/linkedin/LINKEDIN-default.png"));
      &:hover{
        background-image: var(--linkedinHov,url("../../../../public/assets/img/social-media-buttons/linkedin/LINKEDIN-hover-blue.png"));
      }
    }
    &__email {
      background-image: var(--emailDef,url("../../../../public/assets/img/social-media-buttons/email/EMAIL-default.png"));
      &:hover{
        background-image: var(--emailHov,url("../../../../public/assets/img/social-media-buttons/email/EMAIL-hover-blue.png"));
      }
    }
  }
}
