.social-btn{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: var(--flex-direction,column);
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  .btn{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    &__github {
      background-image: var(--githubDef,url("/img/social-media-buttons/github/default.png"));
      &:hover{
        background-image: var(--githubHov,url("/img/social-media-buttons/github/hover-blue.png"));
      }
    };
    &__linkedin {
      background-image: var(--linkedinbDef,url("/img/social-media-buttons/linkedin/default.png"));
      &:hover{
        background-image: var(--linkedinHov,url("/img/social-media-buttons/linkedin/hover-blue.png"));
      }
    };
    &__email {
      background-image: var(--emailDef,url("/img/social-media-buttons/email/default.png"));
      &:hover{
        background-image: var(--emailHov,url("/img/social-media-buttons/email/hover-blue.png"));
      }
    };

  }
}
