@use '../../../styles.scss';

.my-project-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px clamp(1.25rem, 8vw, 6.81rem);
    h2{
    padding-bottom: 80px;
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: min(120%, 72px);
    text-align: center;
    color: styles.$primary-color;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    h3{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.2;
      color: styles.$primary-color;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: styles.$secondary-color;
      }
      &.active-project {
        background-color: styles.$secondary-light-grey;
        color: styles.$secondary-color;
        padding: 30px;
        border-radius: 15px 15px 0px 0px;
      }
    }
  }
  &__detail{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    img{
      max-width: 360px;
    }
  }
}
