@use '../../../styles.scss';

.my-project-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px clamp(1.25rem, 8vw, 6.81rem);
  z-index: 0;
  h2{
    padding-bottom: 80px;
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: min(120%, 72px);
    text-align: center;
    color: styles.$primary-color;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    h3{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 500;
      font-size: clamp(16px, 2.5vw,30px);
      line-height: 1.2;
      color: styles.$primary-color;
      padding: 30px 10px 30px 10px;
      cursor: pointer;
      transition: color 0.5s ease-in-out;
      &:hover {
        color: styles.$secondary-color;
      }
      &.active-project {
        background-color: styles.$primary-color7percent;
        color: styles.$secondary-color;
        border-radius: 15px 15px 0px 0px;
      }
    }
  }
  &__detail{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 540px;
    flex-wrap: nowrap;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2 * clamp(1.25rem, 8vw, 6.81rem));
      background-color: styles.$primary-color7percent;
      z-index: -1;
    }

    .info{
      width: 50%;
      padding: 16px;
      display: flex;
      gap: 15px;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: flex-start;
      gap: 32px;
      h4{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.2;
        color: styles.$secondary-color;
      }
      &____description{
        width: 100%;
      }
      &__title{
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        p{
          font-family: 'Josefin Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.2;
          color: styles.$secondary-color;
        }
      }
      span{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: styles.$secondary-color;
        left: 56px;
        width: calc(100% - 56px);
        display: block;
        margin-top: 16px;
        min-height: 100px;
      }
    }
    .screenshot{
      width: 50%;
      padding-top: 30px;
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      &__title{
        width: 100%;
        text-align: center;
        margin-top: 16px;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: styles.$primary-color;
      }
      &__technologies{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
        &__divIMG{
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          align-items: center;
          justify-content: center;
          gap: 16px;
            &__img{
              width: auto;
              height: auto;
          }
        }
        p{
          width: 100%;
          margin-bottom: 16px;
          font-family: 'Josefin Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.2;
          text-align: center;
          color: styles.$secondary-color;
        }
      }
      &__image{
        max-width: -webkit-fill-available;
        border-radius: 32px;
      }
    }
  }
}

.buttons{
  width: 100%;
  height: 96px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 32px;
  &__live{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 30px;
    gap: 10px;
    width: 134px;
    height: 48px;
    border: 1px solid styles.$primary-color;
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: styles.$secondary-dark-grey;
    background-color: styles.$primary-color;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: styles.$secondary-color;
    }
  }
  &__git{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 30px;
    gap: 10px;
    width: 134px;
    height: 48px;
    border: 1px solid styles.$primary-color;
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: styles.$primary-color;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: styles.$secondary-light-grey;
    }
  }
}

@media screen and (max-width:768px) {

  .my-project-section{
    padding: 40px 0px;
    h2{
      padding-bottom: 40px;
      font-size: 32px;
    }
    &__detail{
      flex-direction: column-reverse;
      .info{
        width: 100%;
        &__description{
          span{
            height: auto;
            font-size: 16px;
            min-height: auto;
          }
        }
        &__title{
          h4{
            font-size: 18px;
            color: styles.$primary-color;
          }
        }
      }
      .screenshot{
        width: 100%;
        &__technologies{
          padding-bottom: 16px;
          p{
            text-align: left;
            padding-left: 32px;
            margin-bottom: 0px;
          }
        }
        &__title{
          text-align: left;
          padding-left: 32px;
          margin-bottom: 16px;
        }
        &__image{
          padding: 16px;
        }
      }
    }
  }

  .buttons{
    gap: 8px;
  }
}

@media screen and (max-width:390px) {

  .my-project-section__list{
    gap:2px;
    h3{
      padding: 30px 2px;
    }
  }
}
