<app-menu-bar class="sticky"/>
<section class="privacy-policy">
  <div class="container">
    @if(isMobile){
      <button class="back-arrow" (click)="goHome()">
        <img src="./img/arrow/arrow-back.png" alt="Back arrow">
      </button>
    }
    <h1>Privacy Policy</h1>

    <div class="legal-content">
      <p>Last updated: July 26, 2025</p>

      <h3>1. An overview of data protection</h3>
      <p>The following gives a simple overview of what happens to your personal information when you visit this website. Personal information is any data with which you could be personally identified.</p>

      <h3>2. Data recording on this website</h3>
      <p><strong>Who is responsible for the data recording on this website?</strong></p>
      <p>The data processing on this website is carried out by the website operator, whose contact details can be found in the <span>Imprint</span> section of this website.</p>

      <p><strong>How do we record your data?</strong></p>
      <p>Your data is collected when you provide it to us. This could, for example, be messages you enter into the <span>contact form</span>.</p>
      <p>Other data is recorded automatically by our IT systems when you visit the website. This data is primarily technical information (e.g. web browser, operating system or time of the page view).</p>

      <h3>3. Contact Form</h3>
      <p>If you send us inquiries via the contact form, your details from the inquiry form, including the contact details you provided there, will be stored by us for the purpose of processing the inquiry and in the event of follow-up questions. We do not pass on this data without your consent.</p>

      <h3>4. Your Rights</h3>
      <p>You have the right at any time to receive information free of charge about the origin, recipient and purpose of your stored personal data. You also have a right to request the correction, blocking or deletion of this data. You can contact us at any time at the address given in the <span>Imprint</span> if you have further questions on the subject of data protection.</p>

      <h3>5. External Hosting</h3>
      <p>This website is hosted by an external service provider (host). Personal data collected on this website is stored on the host's servers. This may include IP addresses, contact requests, metadata and communications, contract data, contact details, web page access and other data generated via a website.</p>
    </div>
  </div>
</section>
<app-footer class="footer footer-offset" />
