<app-menu-bar class="sticky"/>
<section class="privacy-policy">
  <div class="container">
    @if(isMobile){
      <button class="back-arrow" (click)="goHome()">
        <img src="./assets/img/arrow/arrow-back.png" alt="Back arrow">
      </button>
      @if(isMenuOpen){
        <app-mobile-menu class="mobile-menu" />
      }
    }
    <h1>{{translate.title}}</h1>

    <div class="legal-content">
      <p>{{translate.lastUpdate}} 26, 2026</p>

      <h3>1. {{translate.generalInformation}}</h3>
      <p>{{translate.generalInformationDescription}}</p>

      <h3>2. {{translate.dataRecordingAndHosting}}</h3>
      <p><strong>{{translate.externalHosting}}</strong></p>
      <p>{{translate.externalHostingDescription}}</p>

      <p><strong>{{translate.localStorage}}</strong></p>
      <p [innerHTML]="translate.localStorageDescription"></p>

      <h3>3. {{translate.contactingMe}}</h3>
      <p [innerHTML]="translate.contactingMeDescription"></p>

      <h3>4. {{translate.yourRights}}</h3>
      <p [innerHTML]="translate.yourRightsDescription"></p>
    </div>
  </div>
</section>
<app-footer class="footer footer-offset" />
