@use '../../../styles.scss';

.privacy-policy {
  background-color: styles.$secondary-dark-grey;
  color: styles.$secondary-color;
  padding: 80px 0px;
  min-height: 100vh;
  font-family: 'Josefin Sans';

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px clamp(1.25rem, 8vw, 6.81rem);
  }

  h1 {
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 1.2;
    color: styles.$primary-color;
    margin-bottom: 64px;
  }

  h3 {
    color: styles.$primary-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }

  p {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 24px;
    color: styles.$secondary-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    span, strong {
      color: styles.$primary-color;
    }
  }
}

  @media screen and (max-width:768px) {

  .privacy-policy {
    top: 104px;
  }

  .footer-offset{
    --top-offset: 104px;
  }
}
