@use '../../../styles.scss';

.menu-bar-mobile{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 10;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  &--section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    button{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.2;
      color: styles.$secondary-dark-grey;
      transition: color 0.3s ease;
      z-index: 21;
      &.active {
        color: styles.$secondary-color;
        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200%;
          height: 200%;
          background-image: url('/assets/img/Ellipse-24.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          z-index: -1;
          animation: shape-pop 0.4s ease-out;
        }
      }
      &:hover{
        color: styles.$secondary-color;
        transition: color 0.3s ease-in-out;
      }
    }
  }
  &--language{
    gap: 16px;
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    button{
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      color: styles.$secondary-dark-grey;
      transition: color 0.3s ease;
      z-index: 21;
      &.active {
        color: styles.$secondary-color;
        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 150%;
          height: 150%;
          background-image: url('/assets/img/Ellipse-24.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          z-index: -1;
          animation: shape-pop 0.4s ease-out;
        }
      }
      &:hover{
        color: styles.$secondary-color;
        transition: color 0.3s ease-in-out;
      }
    }
  }
  &--active{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
}
