@use '../../../styles.scss';

.legal-notice {
  background-color: styles.$secondary-dark-grey;
  color: styles.$secondary-color;
  padding: 80px 0px;
  min-height: 100vh;
  font-family: 'Josefin Sans';

  .mobile-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -104px;
    width: 300px;
    height: 330px;
    display: block;
    background-image: url("../../../../public/assets/img/BG-shape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    animation: fadeIn 0.3s ease;
  }

  .back-arrow{
    position: relative;
    z-index: 5;
    background: transparent;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px clamp(1.25rem, 8vw, 6.81rem);
  }

  h1 {
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 1.2;
    color: styles.$primary-color;
    margin-bottom: 64px;
  }

  h3 {
    color: styles.$primary-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 16px;
    li {
      list-style: disc;
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
    }
  }

  p {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 24px;
    color: styles.$secondary-color;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    span {
      color: styles.$primary-color;
    }
    a {
      color: styles.$primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-note {
    margin-bottom: 24px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: styles.$secondary-color;
  }
}

@media screen and (max-width:768px) {

  .legal-notice {
    top: 104px;
  }
  .footer-offset{
    --top-offset: 104px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(-10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}
