<app-menu-bar class="sticky"/>
<section class="legal-notice">
  <div class="container">
    @if(isMobile){
      <button class="back-arrow" (click)="goHome()">
        <img src="./assets/img/arrow/arrow-back.png" alt="Back arrow">
      </button>
      @if(isMenuOpen){
        <app-mobile-menu class="mobile-menu" />
      }
    }
    <h1>{{translate.title}}</h1>
    <h3>{{translate.imprint}}</h3>
    <ul>
      <li>Artur Groblicki</li>
      <li>Mühlreit 13</li>
      <li>83404 Ainring</li>
    </ul>

    <div class="legal-content">
      <h3>{{translate.board}}</h3>
      <p>Email: <a href="mailto:arturgroblicki@gmail.com">arturgroblicki@gmail.com</a></p>

      <h3>{{translate.terms}}</h3>
      <p [innerHTML]="translate.termsDescription" class="styled-text"></p>

      <h3>{{translate.scope}}</h3>
      <p [innerHTML]="translate.scopeDescriptionPartOne" class="styled-text"></p>
      <p [innerHTML]="translate.scopeDescriptionPartTwo" class="styled-text"></p>

      <h3>{{translate.proprietaryRights}}</h3>
      <p [innerHTML]="translate.proprietaryRightsDescription" class="styled-text"></p>

      <h3>{{translate.useOfTheProduct}}</h3>
      <p [innerHTML]="translate.useOfTheProductDescription" class="styled-text"></p>

      <h3>{{translate.disclaimer}}</h3>
      <p [innerHTML]="translate.disclaimerDescription" class="styled-text"></p>

      <h3>{{translate.indemnity}}</h3>
      <p [innerHTML]="translate.indemnityDescription" class="styled-text"></p>

      <p class="footer-note">{{translate.mailContact}} <a href="mailto:arturgroblicki@gmail.com">arturgroblicki@gmail.com</a>.</p>

      <p class="footer-note">{{translate.date}} 26, 2026</p>
    </div>
  </div>
</section>
<app-footer class="footer footer-offset" />
