@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Anta';
  src: url('/fonts/Anta-Regular.ttf') format('truetype');
}

$primary-color: #89BCD9;
$primary-color7percent: rgb(137, 188, 217, 7%);
$secondary-color: #F8F5EC;
$secondary-dark-grey: #262E34;
$secondary-light-grey: #f8f5ec12;
$inactive: rgba(38, 46, 52, 0.12);
$error: #E44C36;
$done: #97E163;
$black: black;
$white: white;

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}
.sticky{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.hidden{
  display: none !important;
}
.background{
  width: 100%;
  height: auto;
  background-color: var(--background-color, $secondary-dark-grey);
}

.pos-absolute{
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer{
  background-color: $primary-color;
  height: 214px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

button{
  cursor: pointer;
}

@media screen and (max-width:768px) {

.sticky{
    position: absolute;
    top: 0px;
    z-index: 0;
    width: 100%;
}

.footer{
  height: 243px;
  flex-direction: column;
  top: var(--top-offset, 0px);
}

}
