@use '../../../styles.scss';

.why-me-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px clamp(1.25rem, 8vw, 6.81rem) 40px;
  &__inhalt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 24px;
    gap: 3%;
    &__animated{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
        &--location{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
          gap: 16px;
        }
        &--background {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 100%;
            height: auto;
            }
          &.active {
              &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 140%;
                height: 140%;
                background-image: url('../../../../public/img/why-me-icons/Ellipse-24.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
              }
            }
          }
        &--text{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          justify-content: flex-start;
          align-items: center;
          span{
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: min(120%, 36px);
            color: styles.$primary-color;
          }
        }
    }
    &__description{
      width: 47%;
      span{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: min(120%, 22px);
        color: styles.$secondary-color;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }
    }
  }
  h2{
    padding-bottom: 80px;
    font-family: 'Anta';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: min(120%, 72px);
    text-align: center;
    color: styles.$primary-color;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.highlight {
  padding-right: 8px;
  color: styles.$secondary-color !important;
}

.cursor {
  display: none;
  font-weight: 100;
  margin-left: 2px;
  color: styles.$secondary-color;
  vertical-align: middle;
  position: relative;
  bottom: 5px;
  &.active {
    display: inline-block;
    animation: blink 0.8s step-end infinite;
  }
}
@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

button{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;
  width: 136px;
  height: 48px;
  border: 1px solid styles.$primary-color;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: styles.$primary-color;
  position: relative;
  left: calc(50% - 136px / 2);
  &:hover{
  background-color: styles.$secondary-light-grey;
  }
}

@media screen and (max-width:768px){

  .why-me-section{
    &__inhalt{
      flex-direction: column;
      gap: 32px;
      padding-bottom: 0px;
      &__animated{
        width: 100%;
        flex-direction: row;
      }
      &__description{
        width: 100%;
      }
    }
    h2{
      padding-bottom: 32px;
    }
  }

  button{
    display: none;
  }
}





