<div class="background">
  <div id="why-me-section" class="why-me-section scroll-section">
    <h2>Why me</h2>
    <div class="why-me-section__inhalt" (mouseenter)="triggerAnimation()">
      <div class="why-me-section__inhalt__animated">
        <div class="why-me-section__inhalt__animated--location">
          <div class="why-me-section__inhalt__animated--background" [class.active]="isAnimatingWhySlide()">
            <img [src]="'./assets/img/why-me-icons/' + slides[currentSlideIndex()].icon" alt="Icon">
          </div>
          <div class="why-me-section__inhalt__animated--text">
            <span class="highlight">
              {{ displayText().substring(0, getHighlightIndex(displayText())) }}
            </span>
            <span>
              {{ displayText().substring(getHighlightIndex(displayText())) }}
            </span>
            <span class="cursor" [class.active]="isAnimatingWhySlide()">|</span>
          </div>
        </div>
      </div>
      <div class="why-me-section__inhalt__description">
        <span>
          Coding is where my analytical thinking meets relentless persistence.
          <br>I treat every complex bug as a puzzle that requires a problem-solving mindset to solve.
          <br>I don’t just write code. I value collaboration to transform difficult challenges into clean, efficient, and scalable digital solutions.
        </span>
      </div>

    </div>
    <button (click)="navService.scrollToSection('contact-me-section','contact-me-btn')">Let’s talk</button>
  </div>
</div>
