<div class="background">
  <div id="why-me-section" class="why-me-section scroll-section">
    <h2>{{translate.title}}</h2>
    <div class="why-me-section__inhalt" (mouseenter)="triggerAnimation()">
      <div class="why-me-section__inhalt__animated">
        <div class="why-me-section__inhalt__animated--location">
          <div class="why-me-section__inhalt__animated--background" [class.active]="isAnimatingWhySlide()">
            <img [src]="'./assets/img/why-me-icons/' + slides[currentSlideIndex()].icon" alt="Icon">
          </div>
          <div class="why-me-section__inhalt__animated--text">
            <span class="highlight">
              {{ displayText().substring(0, getHighlightIndex(displayText())) }}
            </span>
            <span>
              {{ displayText().substring(getHighlightIndex(displayText())) }}
            </span>
            <span class="cursor" [class.active]="isAnimatingWhySlide()">|</span>
          </div>
        </div>
      </div>
      <div class="why-me-section__inhalt__description">
        <span [innerHTML]="translate.description"></span>
      </div>

    </div>
    <button (click)="navService.scrollToSection('contact-me-section','contact-me-btn')">{{translate.btn}}</button>
  </div>
</div>
